<link rel="stylesheet" href="{{root}}/css/style.css">
<div id="chat" class='d-flex flex-column'>
    <div id="chatContent" class="d-flex flex-column py-auto">
    </div>
    <div id="inputBox" class="input-group">
        <input type="text" id="userInput" class="form-control">
        <button class="input-group-text btn btn-primary" onclick="sendMessage('{{root}}/ajax/prompt.php', '{{context}}' {{ context == 'helpdesk' ? '' : ',' ~ ticket_id}})">
            <i class="fas fa-paper-plane"></i>
        </button>
        {% if context != 'helpdesk' %}
            <button
                class="input-group-text btn btn-warning"
                onclick="
                updateTicketWithPrompt('{{context}}', {{ticket_id}}, '{{endpoint}}')
                ">
                {{"Send"|trans ~ " " ~ context}}
            </button>
        {% endif %}
    </div>
</div>
<script src="{{root}}/js/scripts.js"></script>
<script>
var messages = [];
sendMessage('{{root}}/ajax/prompt.php', '{{context}}' {{ context == 'helpdesk' ? '' : ',' ~ ticket_id}});
$('#userInput').on("keyup", function (event) {
    if (event.key === "Enter") {
        sendMessage('{{root}}/ajax/prompt.php', '{{context}}' {{ context == 'helpdesk' ? '' : ',' ~ ticket_id}});
    }
});
</script>