
<link rel="stylesheet" href="{{root}}/css/style.css">
<div id="chat" class='d-flex flex-column'>
    <div id="chatContent" class="d-flex flex-column py-auto">
    </div>
    <div id="inputBox" class="input-group">
        <input type="text" id="userInput" class="form-control">
        <button class="input-group-text btn btn-primary" onclick="sendMessage('{{endpoint}}', '{{context}}' {{ context == 'helpdesk' ? '' : ',' ~ ticket_id}})">
            <i class="fas fa-paper-plane"></i>
        </button>
        {% if context != 'helpdesk' %}
            <button
                class="input-group-text btn btn-warning"
                onclick="
                updateTicketWithPrompt('{{context}}', {{ticket_id}}, '{{endpoint}}')
                ">
                {{"Send"|trans ~ " " ~ context}}
            </button>
        {% endif %}
    </div>
</div>
<script src="{{root}}/js/scripts.js"></script>
<script>
{% set ticketCreatedMessage = "I have created the ticket with the id <a class='text-light' href='%url%'>%id%: %name%</a>"|trans %}
context = []
{# function sendMessage(mode, ajax_endpoint, context, prompt, endpoint = '', model = '', displayUser = true) { #}
sendMessage('{{connection_type}}', '{{ajax_endpoint}}', context, `{{init_prompt}}`, '{{endpoint|default("")}}', '{{model|default("")}}', false)
    .then(data => {
        console.log(data)
        context = data.context;
        addMessageToChat(data.response)
    }
);
$('#userInput').on("keyup", function (event) {
    if (event.key === "Enter") {
        sendMessage('{{connection_type}}', '{{ajax_endpoint}}', context, $('#userInput').val(), '{{endpoint|default("")}}', '{{model|default("")}}', true)
            .then(data => {
                console.log(data)
                context = data.context;
                const jsonregex = /\{.*\}/;
                const match = data.response.match(jsonregex);
                if (match) {
                    const json = JSON.parse(match);
                    var ticketCreatedMessage = "{{ ticketCreatedMessage|escape('js') }}"
                    var message = ticketCreatedMessage
                        .replace('%url%', json.ticket_url)
                        .replace('%id%', json.ticket_id)
                        .replace('%name%', json.ticket_name);
                    addMessageToChat(message);
                } else {
                    addMessageToChat(data.response)
                }
            });
    }
});
</script>